h1{
margin-left:550px;
color: rgb(60, 153, 224);
font-family:Georgia, 'Times New Roman', Times, serif

}

p1{
margin-left:410px;
color:rgb(41, 162, 237)

}
h4{
margin-left:530px;
color:rgb(9, 164, 199)
}

body{
background-color: rgb(141, 245, 193);
}
img{
border: 5px solid rgb(39, 107, 179);
}